---
layout: default
---

<!-- project_page.html -->
        <div class="post">

          <header class="post-header">
            <center>
            <p class="post-description"> </p>
            <h1 class="post-title">{{ page.title }}</h1>
            <h3 class="project-venue" style="color:rgb(136, 136, 136);">{{ page.venue }}<br><br></h3>

            <h5 class="project-authors">


              {% for coauthor_id in page.coauthors %}
                {% if site.data.coauthors contains coauthor_id %}
                  {% assign coauthor_data = site.data.coauthors[coauthor_id][0] %}
                  <a href="{{coauthor_data.url}}">{{coauthor_data.firstname[0]}} {{coauthor_id}}</a>{% if coauthor_id != page.coauthors.last %}, {% endif %}
                {% endif %}
              {% endfor %}
              <br> <br><em>{{ page.affliations }}</em><br><br>
            </h5>
            
            <div class="container" style="  display:flex;flex-wrap:wrap;justify-content:center;">
            {% if page.arxiv %}
            <a href={{ page.arxiv }} class="project">
            <div class="block" style="width: 100px;">
              <i class="fa fa-file-pdf fa-2x"></i><br>
               Paper
            </div>
            </a>
            {% endif %}
            {% if page.github %}
            <a href={{ page.github }} class="project">
            <div class="block" style="width: 100px;">
            <i class="fab fa-github fa-2x"></i><br>
            Code
            </div>
            </a>
            {% endif %}
            {% if page.supplementary %}
            <a href={{ page.supplementary }} class="project"> 
            <div class="block" style="width: 100px;">
              <i class="fa fa-file-pdf fa-2x"></i><br>
              Supplementary
            </div>
            </a>
            {% endif %}
            </div>
            </center>
          
            <hr>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
